body {
    font-family: 'Hachi Maru Ppo', cursive;
    margin: 20px;
    cursor: url('image/cursor1.png'), auto; 
}

a {
    cursor: url('image/cursor2.png'), auto; 
}

select {
    cursor: url('image/cursor2.png'), auto; 
    width: 300px; 
    max-width: 100%; 
}

input[type="text"], 
button {
    cursor: url('image/cursor2.png'), auto; 
}

input[type="date"], 
button {
    cursor: url('image/cursor2.png'), auto; 
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tile {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 100px;
    transition: border-color 0.3s;
    cursor: url('image/cursor2.png'), auto;
}

.tile.selected {
    border-color: #ffdbe0;
    background-color: #ffe9ec;
}

.tile img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    cursor: url('image/cursor2.png'), auto;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ffbdc7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: url('image/cursor2.png'), auto;
}

.tw-hidden {
    display: none;
    height: 0; 
    visibility: hidden; 
    overflow: hidden; 
}
